* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #020617, #0f172a);
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
}

/* HERO */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero span {
    color: #38bdf8;
}

/* SECTION */
.section {
    padding: 60px;
    text-align: center;
}

/* GRID */
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    width: 220px;
    backdrop-filter: blur(10px);
    transition: 0.4s;
}

.card:hover {
    transform: scale(1.1);
    background: rgba(56,189,248,0.2);
}

/* BUTTON */
button {
    padding: 8px 15px;
    background: #38bdf8;
    border: none;
    border-radius: 5px;
}
